<%= flash[:notice] if flash[:notice] %>
<h2>Our guest list</h2>
<table class="table" border="1">
	<tr>
	  <th>ID</th>
		<th>Name</th>
		<th>Plus one?</th>
		<th>Date</th>
		<th>Confirmation</th>
		<th>Side</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @guests.each do |guest| %>
	<tr>
	  <td><%= guest.id %></td>
		<td><%= guest.name %></td>
		<td><%= yes_no(guest.plusone) %></td>
		<td><%= guest.datename %></td>
		<td><%= yes_no(guest.confirmation) %></td>
		<td><%= guest.side %></td>
		<td><%= link_to 'Edit', edit_guest_path(guest) %></td>
		<td><%= link_to 'Usuń', guest_path(guest), method: :delete, data: { confirm: "Are you sure?" } %></td>
	</tr>
	<% end %>
</table>
<%= link_to 'Add', new_guest_path%>
<%= link_to 'Go back', root_path%>